

.banner-container {
    position: relative;
}
#banner {
    max-height: 293px;
    overflow: hidden;
}
.reservation-form *{
    text-align: center;
}
.reservation-form{
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    top:0;
    bottom:0;
    z-index: 99;
    padding: 12px 28px;
}