.navbar {
	margin-bottom: 0;
}

ul {
	padding: 0;
	list-style-type: none;
}

li span{
	margin-bottom: 10px;
}

.hand-pointed {
	cursor: pointer;
}

a.disabled{
	color: #666666;
	transition: all 1s;
}

button{
	background:none;
	border: none;
}